thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border: 1px solid black;
  width: 5%
}


.background-green {
  background-color: rgb(118, 217, 118);
}

.background-white {
  background-color: white;
}